.input {
  width: 75px !important;
  z-index: 1;
}
.calIcon {
  position: absolute;
  z-index: 9999999;
  right: 3px;
}

.tooltipContainer {
  padding: 0.45em !important;
  color: #000 !important;
  background: #ffffff url(../assets/img/popupMenuBg.gif) repeat-x bottom left !important;
  border: 1px solid #7eabcd !important;
  font-size: small;
  font-weight: normal;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  white-space: nowrap;
}

.leftArrowRebid {
  z-index: 9999;
  position: absolute;
  padding-left: 37px;
}

.tooltipTextRedbid {
visibility: visible;
width: 175px;
background-color: white;
color: black;
font-size: 12px !important;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 9999;
top: -4px;
left: 20px;
}

.tooltipTextRedbid::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
