.section {
  height: 0% !important;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1px;
}

.header {
  font-weight: bold;
  font-size: 9pt;
  font-family: Arial;
}

.headerHR {
  margin-top: -1px;
  margin-bottom: 20px;
  color: #ffffff;
  height: 0px;
  border: solid 1px #313063;
  background-color: #313063;
}

.menuWdth100 {
  border: 0px;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
}

.default_font {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.width70 {
  width: 82%;
  margin-left: 12px;
}

.mr10 {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
  margin-right: 15px;
}

.channel_name {
  padding-right: 15px;
}

.lang_name {
  padding-left: 15px;
}

.grid {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  outline: none;
}

.float_right {
  position: relative;
  float: right;
  margin-top: -4px;
}
.tableContainer {
  user-select: none;
  width: 830px;
  overflow: auto;
  height: calc(100vh - 190px);
  overflow-x: hidden;
}
.font11 {
  font-size: 11px;
  border-collapse: collapse;
  border: 1px solid;
  width: 830px;
  border-color: #ebeadb;
  background-color: #d6d7ce;
  padding: 0px 2px 0px 2px;
  text-align: left;
}
.tableTd {
  width: 181px;
  padding-left: 20px !important;
}
.roomGroup {
  width: 181px;
  padding:0 10px;
  font-style: italic;
}
.firstTd {
  width: 200px;
  font-weight: bold;
  vertical-align: top;
}
.title {
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  background-color: #a4aac6;
  height: 20px;
}

.gridRowTable {
}

.gridHeader {
  margin: 10px;
}

.gridCell
 {
border-right: 1px solid #EBEADB;
  border-bottom: 1px solid #EBEADB;
}
.nexttable{
  margin-bottom: 1px;
}
.gridCellHeader {
  font-weight: bold;
      border-right: 1px solid #aca899;
        border-bottom: 1px solid #aca899;
}
.elementdatatable .databoubleborder:nth-child(even){
  background-color: #ffffff;
  vertical-align: top
}

.elementdatatable .databoubleborder:nth-child(odd){
  background-color: #f4f4f2;
  vertical-align: top;
  margin-top:1px;
  border-top:1px solid #ebeadb;
}

.textAreaStyle {
  width: 600px;
  resize: none;
  height: 43px;
  margin-left: 2px;
}

.textColor:hover {
  background-color: rgb(244, 242, 159);
}
.elementdatatable{
  background-color:transparent;
}
.elementdatatable .databoubleborder:nth-child(3){
  margin-top:1px;
  border-top:1px solid #ebeadb;
}

.elementdatatable .databoubleborder:first-child{
  margin-top:0px;
  border-top:0px;
}

.widthElem {
  width: 840px;
}