.hiddenAccoutsTable {
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  width: 374px;
}

.hiddenAccoutsTable tr:nth-child(even) {
  background-color: #eeeeee;
}

.hiddenAccoutsTable tr:nth-child(odd) {
  background-color: #f5f5f5;
}

.hiddenAccoutsTable td {
  height: 35px;
  padding: 0px 7px 0px 7px;
  color: #666666;
  align-items: center;
  display: flex;
  text-align: left;
}

.accountLabel {
  margin-left: 28px;
  font-size: 13px;
}

.headerLabel {
  height: 35px;
  margin-top: 15px;
  margin-left: 92px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #666666;
  font-size: 13px;
}

.hiddenAccoutsTableDiv {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 228px;
  overflow-y: scroll;
  border-top: 1px solid #5192cc;
  border-bottom: 1px solid #5192cc;
}

.accountSelect {
  display: inline-block;
}

.statusIconDiv {
  margin-left: 4px;
  display: inline-block;
}

.acceptedIconSVG {
  width: 11px;
  height: 11px;
  overflow: scroll;
}

.declinedIconSVG {
  width: 11px;
  height: 11px;
  overflow: scroll;
}

.requestedIconSVG {
  width: 11px;
  height: 11px;
  overflow: scroll;
}

.pendingIconSVG {
  width: 16px;
  height: 15px;
  overflow: scroll;
}
