.subnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #bbbca6 !important;
  z-index: 9999;
}
.subnav ul li {
  display: block !important;
  position: relative !important;
  float: left !important;
  background: #bbbca6 !important;
}
.subnav li ul {
  display: none;
}

.subnav ul li a {
  display: block;
  white-space: nowrap;
  font-size: 10px;
  color: #333333;
  /* text-align: center; */
  line-height: normal;
}

.subnav ul ul ul {
  left: 100%;
  top: 0;
}
.subnav ul:before,
ul:after {
  content: " ";
  display: table;
}
.subnav ul:after {
  clear: both;
}
.subnavigation {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 0px;
  background: #bbbca6;
}

.subnav li:hover > ul {
  display: block;
  position: absolute;
  border: 1px outset rgb(141, 139, 126);
}
.subnav li:hover li {
  float: none;
  border: none;
}
.subnavigation {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 0px;
  background: #bbbca6;
}
.subnavigation li {
  border: solid;
  border-width: 0px 1px 0px 1px;
  border-color: #ffffff #bbbca6 #ffffff #bbbca6;
  background: #bbbca6;
  border-right: 1px solid #8d8b7e;
  padding-right: 20px;
}
.subnavigation li a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
  text-align: left;
  margin: 0px;
  padding-top: 3px;
}
.sublistTitle {
  height: 16px;
}
.sublistTitle a:hover {
  color: #9d102d;
}

.sublist,
.sublist ul {
  padding: 0;
}
.sublist li {
  border: 2px solid BBBCA6;
  padding: 0;
}
.sublist li {
  border-width: 1px 0px 1px 1px;

  border-right-style: initial;
  border-bottom-style: outset;
  border-left-style: outset;
  border-color: rgb(141, 139, 126);
  border-image: initial;
}
.sublist li {
  background-color: rgb(141, 139, 126);
  border: 1px solid #bbbca6;
}
.sublist {
  background: none;
}
.sublist li a {
  color: rgb(0, 0, 0);
  display: block;
  width: 100%;
  padding: 3px 1px 3px 10px;
  text-decoration: none;
  background-color: #bbbca6;
  border-bottom: 1px solid #100101;
}
.sublist li a:hover {
  text-decoration: underline;
  color: #9d102d;
}
.loaderImg {
  position: absolute;
  top: 45%;
  left: 45%;
}
