
body,
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
}

.titleLink {
  color: #3166cc;
  text-decoration: underline;
  cursor: pointer;
}

.newBtnDiv {
  text-align: left;
  cursor: pointer;
  margin-left: 3px;
}

.dataTableDiv {
  overflow :hidden;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  width: 500px;
  height: 600px;
  animation: pulse 1s infinite ease-in-out;
}

.deleteImgDiv {
  cursor: pointer;
  position: relative;
  top: 1px;
}
.text {
  font-size: 14px;
  margin-top: 8px;
  margin-left: 5px;
  font-weight: bold;
}

.hrStyle {
  margin: -1px;
  margin-left: 5px;
  color: black;
}
.yesNoSelect {
  width: 38px;
  font-weight: bold;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  margin-top: 3px;
}
.longDueDate {
  margin-left: 10px;
}
.MainContainer{
  position: relative;
}
.CBCListContainer{
  position: relative;
  width: 100%;
  height: 100%;
}
.headerhr {
  height: 2px;
  background-color: #313063;
  border: none;
}
.header {
  padding-left: 5px;
  padding-right: 5px;
  height: 15px;
  border: 0px;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bolder;
}

.dataTable {
 margin-left: 10px;
 margin-top: 10px;
}
