.subnav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #BBBCA6 !important;  
  z-index: 9999;
} 
.subnav ul li {
  display: block !important;
  position: relative !important;
  float: left !important;
  background:#BBBCA6 !important;
  border: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #FFFFFF #8D8B7E #EEEED6;
}
.subnav li ul { 
  display: none; 
}

.subnav ul li a {
  display: block;
  white-space: nowrap;  
  Font-Size: 10px;
  color: #333333;
  /* text-align: center; */
  line-height: normal;
} 

.subnav ul ul ul {
  left: 100%;
  top: 0;
}
.subnav ul:before,
ul:after {
  content: " ";
  display: table;
}
.subnav ul:after { clear: both; }
.subnavigation{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 0px;
    background: #BBBCA6;
} 

.subnav li:hover > ul {
  display: block;
  position: absolute;
  border: 1px outset rgb(141, 139, 126);
  top: 16px;
}
.subnav li:hover li { 
  float: none; 
  border: none;
} 
.subnavigation{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 0px;
  background: #BBBCA6;
} 
.subnavigation li {
border: solid;
  border-width: 0px 1px 0px 1px;
  border-color: #FFFFFF #BBBCA6 #FFFFFF #BBBCA6;
  background: #BBBCA6;
}
.subnavigation li a{
padding-left: 4px;
padding-right: 10px;
text-decoration: underline;
text-align: left;
margin:0px;
}

.subnavigationBorder {
  border-top: 3px solid #BBBCA6 !important;
  padding-left: 10px !important;
}

.borderLeft {
  border-left: 1px solid #FFFFFF !important;
}

.sublistTitle{
  height: 15px;
  width: 110px;
}
.sublistTitle a:hover, 
.width60 a:hover{
  color: #9D102D;
}
.width60 {
  width: 60px;
  height: 15px;
}
.bgColor {
  background-color: #BBBCA6;
}
.submenuList {
  border: 1px outset rgb(141, 139, 126) !important;
  margin-top: 4px;
  width:180px;
}
.submenuList li {
  border-top: 1px outset !important;
  border-bottom: 1px outset !important;
  border-right: 0px !important;
  width: 180px;
  height: 18px;
}
.submenuList li a {
  color: rgb(0, 0, 0);
  display: block;
  width: 100%;
  padding: 1px 1px 1px 20px;
  font-size: 11px !important;
  text-decoration: none;
}
.submenuList li a:hover {
  text-decoration: underline;
}
.subListEmptySpace {
  border-bottom: 1px outset rgb(141, 139, 126);
  width: 10px;
  border-right-color: rgb(141, 139, 126);
  border-left-color: rgb(141, 139, 126);
}