.dialogPaneContent {
  background: #fff;
  border-top: 1px solid #d3d3d3;
  padding: 10px;
}

.menuWdth100Height {
  border: 0px;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
}

.field_Name {
  FONT-WEIGHT: bold;
  FONT-SIZE: 11px;
  FONT-FAMILY: Arial;
}

.BGDarkBlueStyle {
  color: #FFFFFF;
  background-color: #313063;
}

.fontNormal{
font-weight: 200;
}
.inputFieldCls{
width: 0;
height: 0;
color: #FFFFFF;
background: none;
position: absolute;
}

.outerDivCls{
height: 150px;
width: 350px; 
overflow: auto;
}
.menuWdth100Height tr:last-child td{
display: block;
}