.eidLink {
    color: #3166cc;
    text-decoration: underline;
    cursor: pointer;
  }
.headings {
  font-weight: bold;
  font-size: 12px;
  height: 35px;
}
.pd40 {
  padding-top: 18px;
  position: relative;
}
.internalNotes {
  width:100%;
}
.lsfilters{
  display: block;
  margin: -2px 0;
}
.hoteluserheading hr{
  border-bottom: 2px solid #000; 
  border-top: 0;
  margin-bottom: 0;
}