.section {
  height: 0% !important;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
  border: 0px;
  border-collapse: collapse;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 1px;
}

.header {
  font-weight: bold;
  font-size: 9pt;
  font-family: Arial;
}

.headerHR {
  margin-top: -1px;
  margin-bottom: 20px;
  color: #ffffff;
  height: 0px;
  border: solid 1px #313063;
  background-color: #313063;
}

.menuWdth100 {
  border: 0px;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
}

.default_font {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.width70 {
  margin-left: 12px;
}

.mr10 {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
  margin-right: 15px;
}

.channel_name {
  padding-right: 15px;
}

.lang_name {
  padding-left: 15px;
}

.grid {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  outline: none;
  overflow: hidden;
}
.float_right {
  margin-top: -4px;
}
.font11 {
  font-size: 11px;
  border-collapse: collapse;
  border: 1px solid;
  width: 843px;
  border-color: #ebeadb;
  background-color: #ffffff;
  padding: 0px 2px 0px 2px;
  text-align: left;
}

.title {
  width: 843px;
  font-size: 12px;
  font-style: italic;
  background-color: #a4aac6;
  height: 20px;
  font-weight: bold;
}

.gridRowTable {
  background-color: #d6d7ce;
}

.gridHeader {
  overflow: hidden;
  margin: 10px;
}

.gridCell {
  border-right: 1px solid #aca899;
  border-bottom: 1px solid #dadada;

}

.nthChildDiv:nth-child(even) {
  background-color: #ffffff;
}

.nthChildDiv:nth-child(odd) {
  background-color: #f4f4f2;
}

.textAreaStyle {
  width: 616px;
  resize: none;
  height: 43px;
}
.textAreaWidth{
  width: 540px !important;
}
.texFieldWidth{
  width: 600px !important;
}
.textColor:hover {
  background-color: rgb(244, 242, 159);
}

.roomOverNormal {
  width: 184px;
  padding-left: 20px;
  vertical-align: top;
}

.roomGroup {
  width: 184px;
  padding-right: 0 10px;
  font-style: italic;
  vertical-align: top;
}

.roomOverBold {
  width: 204px;
  font-weight: bold;
  vertical-align: top;
}
.gridSubItem{
  vertical-align: top;
  padding-left: 15px;
}
.nthChildDiv:nth-child(2n+1){
  padding-top: 2px;
}
nthChildColor:nth-child(2n){
  background-color: #ffffff !important;
}
.widthHead{
  width: 853px;
}

.mainTable {
  width: 843px;
  height: calc(100vh - 200px);
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.enterAmneityTable {
  width: 844px;
  height: calc(100vh - 200px);
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.widthHeadAmenity {
  width: 854px
}
.textAreaWidthAmenity {
  width: 495px !important;
}
