.subnav ul {
  list-style: none;
  background: #BBBCA6 !important;  
  z-index: 9999;
  margin: 0px 0 3px;
  padding: 3px 0 0 8px ;
} 

.subnav ul li {
  display: block !important;
  position: relative !important;
  float: left !important;
  background:#BBBCA6 !important;
  border: 1px solid #8D8B7E;
  border-width: 0 1px;
  margin-left: -1px;
}

.subnav li ul { 
  display: none;
}
.subnav ul li a{
  display: block;
  Font-Size: 10px;
  color: #333333;
  line-height: 13px;
  padding-bottom: 2px;
} 
.subnav ul:first-child li:first-child a{
  border-left: 1px solid #fff;
  padding-left: 3px;
  margin-left: -1px;
}
.subnav ul:first-child li a{
  padding-left: 3px;
}
.subnav ul ul ul {
  left: 100%;
  top: 0;
}
.subnav ul:before,
ul:after {
  content: " ";
  display: table;
}
.subnav ul:after { clear: both; }
.subnavigation{
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 0px;
    background: #BBBCA6;
} 

.subnav li:hover > ul {
  display: block;
  position: absolute;
  padding-left: 10px;
}
.subnav li:hover > ul li div::after{
  width: 10px;
  position: relative;
  height: 1px;
  border-bottom: 1px solid #100101;
  content: "";
  display: block;
  top: -1.5px;
  left: -10px;
}
.subnav li:hover li { 
  float: none !important; 
  border: none;
} 
.subnavigation{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 0px;
  background: #BBBCA6;
} 
.subnavigation li a{
padding-left:3px;
padding-right: 5px;
text-decoration: underline;
text-align: left;
margin:0px;
}
.sublistTitle{
}
.sublistTitle a:hover{
  color: #9D102D;
}
.arrowadm3{
}
.navAlignTop{
  margin-top: 3px;
}
.sublist li a:hover {
  text-decoration: underline;
  color: #9d102d;
}

.sublist li {
  background-color: rgb(141, 139, 126);
  border: 1px solid #bbbca6;
}
.sublist {
  background: none;
}
.sublist li a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 0px 1px 0px 10px;
  text-decoration: none;
  background-color: #bbbca6;
  border-bottom: 1px solid rgb(238,238,238);
}
.sublistTitle a:hover {
  color: #9d102d;
}
.widthSize{
  width: 140px;
}
.Tabsborder1{
  width: 170px;
}
.subnav ul:first-child li ul li:first-child a{
  border-left: 0;
}