@media only screen and (max-width: 1000px) {
  .globalContainer {
    position: relative;
    width: 100%;
    height: 88vh;
    overflow: auto;
  }

  .mainContainerBody {
    min-width: 1250px;
    width: auto;
  }

  .bodyContainer {
    position: inherit;
  }

}